<section class="not-found">
    <div class="not-found__content">
        <div class="not-found__top-row">
            <a href="#" class="not-found__logo">
                <img src="/images/logo.webp" alt="" class="not-found__logo-image">
                <div class="not-found__logo-content">
                    <div class="not-found__logo-name">
                        Шампур
                    </div>
                    <div class="not-found__logo-city">
                        Казань
                    </div>
                </div>
            </a>
        </div>
        <div class="not-found__row">
            <div class="not-found__text-content">
                <h1 class="not-found__heading">
                    Ошибка
                </h1>
                <div class="not-found__desc">
                    К сожалению, такой страницы не существует
                </div>
                <a href="#" class="not-found__link">
                    Вернуться на главную
                </a>
            </div>
            <div class="not-found__code">
                <div class="not-found__code-letter-wrapper">
                    <img src="/images/4.svg" alt="" class="not-found__code-letter">
                </div>
                <div class="not-found__code-image-wrapper">
                    <img src="/images/not-found.webp" alt="" class="not-found__code-image">
                </div>
                <div class="not-found__code-letter-wrapper">
                    <img src="/images/4.svg" alt="" class="not-found__code-letter">
                </div>
            </div>
        </div>
    </div>
</section>