<section class="message">
    <div class="message__content">
        <div class="message__top-row">
            <a href="#" class="message__logo">
                <img src="/images/logo.webp" alt="" class="message__logo-image">
                <div class="message__logo-content">
                    <div class="message__logo-name">
                        Шампур
                    </div>
                    <div class="message__logo-city">
                        Казань
                    </div>
                </div>
            </a>
        </div>
        <div class="message__wrapper">
            <h1 class="message__heading">
                Спасибо!<br>
                ЗАказ успешно оформлен
            </h1>
            <div class="message__text">
                В ближайшее время с вами свяжется наш менеджер для подтверждения заказа
            </div>
            <a href="#" class="message__link">
                <span class="message__link-desktop-text">
                    Вернуться </span> на главную
            </a>
        </div>
    </div>
</section>