.checkout {
  @include blockWrapper;
  padding-top: 3.2rem;
  padding-bottom: 8rem;

  @include breakpoint(mobile) {
    padding-top: 2.8rem;
    padding-bottom: 0;
  }
}

.checkout__content {
  @include blockContent;
  display: flex;
  flex-direction: column;
}

.checkout__top-row {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;

  @include breakpoint(mobile) {
    display: none;
  }
}

.checkout__logo {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.checkout__logo-image {
  width: 7.2rem;
  height: 7.2rem;
  object-fit: contain;
  flex-shrink: 0;
}

.checkout__logo-content {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.checkout__logo-name {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -0.022rem;
  text-transform: uppercase;
  font-family: var(--roboto-flex);
}

.checkout__logo-city {
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.011rem;
  text-transform: uppercase;
  font-family: var(--roboto-flex);
}

.checkout__back-link {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  gap: 1.2rem;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.018rem;
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.2s;
  align-self: flex-start;
  &:link,
  &:visited {
    color: rgba(0, 0, 0, 0.5);
  }
  svg {
    flex-shrink: 0;
    width: 2.4rem;
    height: 2.4rem;
    fill: rgba(0, 0, 0, 0.3);
    transition: fill 0.2s;
  }

  @media (hover: hover) {
    &:hover {
      color: var(--primary-color);
      svg {
        fill: var(--primary-color);
      }
    }
  }

  @include breakpoint(mobile) {
    display: none;
  }
}

.checkout__heading {
  font-size: 6rem;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -0.06rem;
  text-transform: uppercase;
  margin-bottom: 5.8rem;
  font-family: var(--roboto-flex);
  @include breakpoint(mobile) {
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: -0.02rem;
    text-transform: uppercase;
    padding: 0 1.2rem;
    margin-bottom: 2.8rem;
  }
}

.checkout__layout {
  display: grid;
  grid-template-columns: 1fr 55rem;
  grid-gap: 11rem;
  grid-template-areas: "left right";

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    grid-gap: 2.4rem;
  }
}

.checkout__left-col {
  grid-area: left;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  grid-area: left;

  @include breakpoint(mobile) {
    gap: 0;
    border-radius: 2rem;
    background: white;
    margin: 0 calc(-1 * var(--content-padding));
    padding: 0 calc(var(--content-padding) + 1.2rem);
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
}

.checkout__right-col {
  grid-area: right;
}

.checkout__main-block {
  @include breakpointMF(small-tablet) {
    background-color: #fff;
    border-radius: 3.2rem;
    padding: 6rem;
  }
}

.checkout__links {
  padding: 0.6rem;
  border-radius: 1.6rem;
  background: #f2f2f2;
  margin-bottom: 6rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2rem;

  @include breakpoint(mobile) {
    padding: 0.6rem;
    border-radius: 1.2rem;
    margin-bottom: 4rem;
  }
}

.checkout__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -0.018rem;
  text-transform: uppercase;
  font-family: var(--roboto-flex);
  border-radius: 1rem;
  transition: color 0.2s, background-color 0.2s;
  padding: 2.6rem;
  svg {
    width: 2.4rem;
    height: 2.4rem;
    fill: currentColor;
  }

  &.active {
    background: white;
  }

  @include breakpoint(mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: -0.012rem;
    text-transform: uppercase;
    gap: 0.8rem;
    border-radius: 0.8rem;
    padding: 1.6rem;

    svg {
      width: 1.8rem;
      height: 1.8rem;
    }
  }
}

.checkout__form {
  display: flex;
  flex-direction: column;
  gap: 6rem;

  @include breakpoint(mobile) {
    gap: 0;
  }
}

.checkout__form-block {
  display: flex;
  flex-direction: column;

  @include breakpoint(mobile) {
    margin-bottom: 4rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.checkout__form-block--address:has(.validation-error) {
  .checkout__form-address-btn {
    border-color: var(--primary-color);
  }
}

.checkout__form-block-heading {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -0.022rem;
  text-transform: uppercase;
  font-family: var(--roboto-flex);
  margin-bottom: 3.2rem;

  @include breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: -0.028rem;
    text-transform: uppercase;
    margin-bottom: 1.8rem;
  }
}

.checkout__form-fields {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 2rem;

  @include breakpoint(mobile) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.8rem;
  }
}

.checkout__form-field {
  display: flex;
  flex-direction: column;

  @include breakpointMF(small-tablet) {
    &--half {
      grid-column: span 2;
    }

    &--fullwidth {
      grid-column: span 4;
    }
  }

  @include breakpoint(mobile) {
    &--half {
      grid-column: 1 / -1;
    }

    &--fullwidth {
      grid-column: 1 / -1;
    }
  }
}

.checkout__form-label {
  display: block;
  position: relative;
}

.checkout__form-input {
  height: 6.6rem;
  display: block;
  width: 100%;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.018rem;
  padding: 0 2rem;
  border-radius: 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: black;
  transition: border-color 0.2s;
  &::placeholder {
    opacity: 0;
  }

  &.not-valid {
    border-color: var(--primary-color);
  }

  @include breakpoint(mobile) {
    border-radius: 1.2rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 5rem;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.014rem;
    padding: 0 1.2rem;
  }
}

.checkout__form-label-text {
  position: absolute;
  left: 2rem;
  top: 2.4rem;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.018rem;
  color: rgba(0, 0, 0, 0.5);
  transition: transform 0.2s;
  pointer-events: none;
  transform-origin: left center;

  @include breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.014rem;
    top: 1.6rem;
    left: 1.2rem;
    color: var(--text-color);
  }
}

.checkout__form-input:focus ~ .checkout__form-label-text,
.checkout__form-input:not(:placeholder-shown) ~ .checkout__form-label-text {
  transform: scale(0.6) translateY(-3.1rem);

  @include breakpoint(mobile) {
    transform: scale(0.7) translateY(-2.2rem);
  }
}

.checkout__form-address-wrapper {
  display: contents;

  @include breakpoint(mobile) {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 80;
    background-color: #fff;
    overscroll-behavior-y: contain;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;

    &.active {
      opacity: 1;
      visibility: inherit;
      transition: opacity 0.4s, visibility 0.4s;
    }
  }
}

.checkout__form-address-content-wrapper {
  display: contents;
  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    padding: 0 calc(var(--content-padding) + 1.2rem);
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    border-radius: 1.6rem 1.6rem 0px 0px;
    background-color: #fff;
    box-shadow: 0px 0px 1rem 0px rgba(0, 0, 0, 0.1);
    margin-top: -4rem;
    z-index: 15;
  }
}

.checkout__form-address-mobile-heading {
  display: none;

  @include breakpoint(mobile) {
    display: block;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: -0.028rem;
    text-transform: uppercase;
    margin-bottom: 2.4rem;
    font-family: var(--roboto-flex);
  }
}

.checkout__form-address-mobile-close {
  display: none;

  @include breakpoint(mobile) {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.013rem;
    text-transform: uppercase;
    color: white;
    background-color: var(--primary-color);
    padding: 2.1rem;
    border-radius: 0.8rem;
    margin-top: 3.2rem;
    font-family: var(--roboto-flex);
  }
}

.checkout__form-address-btn {
  display: none;

  @include breakpoint(mobile) {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    border-radius: 1.2rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 1.2rem;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.014rem;
    justify-content: space-between;
    cursor: pointer;
    text-align: left;
    width: 100%;
    svg {
      flex-shrink: 0;
      width: 2rem;
      height: 2rem;
      fill: rgba(0, 0, 0, 0.5);
    }
  }
}

.checkout__form-detect-address {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.018rem;
  color: var(--primary-color);
  gap: 0.8rem;
  margin-top: 1rem;
  svg {
    flex-shrink: 0;
    width: 2.4rem;
    height: 2.4rem;
    fill: currentColor;
  }

  @include breakpoint(mobile) {
    display: none;
  }
}

.checkout__form-map {
  position: relative;
  border-radius: 1.6rem;
  overflow: hidden;
  margin-top: 2rem;
  &::before {
    content: "";
    display: block;
    padding-bottom: 50%;
  }

  @include breakpoint(mobile) {
    border-radius: 0;
    order: -1;
    flex-grow: 1;
    margin: 0;

    &::before {
      content: "";
      padding-bottom: 50%;
    }
  }
}

.checkout__form-map-address-close-btn {
  display: none;
  @include breakpoint(mobile) {
    display: grid;
    place-items: center;
    position: absolute;
    z-index: 10;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    background-color: #fff;
    top: 2rem;
    right: 2rem;

    svg {
      width: 2rem;
      height: 2rem;
      fill: #808080;
    }
  }
}

.checkout__form-map-element {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
}

.checkout__payment-method {
  @include breakpointMF(small-tablet) {
    border-radius: 3.2rem;
    background: white;
    padding: 6rem;
  }

  @include breakpoint(mobile) {
    margin-top: 4rem;
  }
}

.checkout__payment-method-btn {
  display: none;

  @include breakpoint(mobile) {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    border-radius: 1.2rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 1.2rem;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.014rem;
    justify-content: space-between;
    cursor: pointer;
    text-align: left;
    width: 100%;
    svg {
      flex-shrink: 0;
      width: 2rem;
      height: 2rem;
      fill: rgba(0, 0, 0, 0.5);
    }
  }
}

.checkout__payment-method-mobile-heading {
  display: none;

  @include breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: -0.028rem;
    text-transform: uppercase;
    font-family: var(--roboto-flex);
    margin-bottom: 2.4rem;
    display: block;
  }
}

.checkout__payment-method-mobile-close {
  display: none;

  @include breakpoint(mobile) {
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.013rem;
    text-transform: uppercase;
    font-family: var(--roboto-flex);
    display: block;
    text-align: center;
    width: 100%;
    padding: 2.1rem;
    color: white;
    margin-top: 3.2rem;
    border-radius: 0.8rem;
    background-color: var(--primary-color);
  }
}

.checkout__payment-method-wrapper {
  display: contents;

  @include breakpoint(mobile) {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 80;
    background: rgba(70, 70, 70, 0.7);
    overscroll-behavior-y: contain;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;

    &.active {
      opacity: 1;
      visibility: inherit;
      transition: opacity 0.4s, visibility 0.4s;
    }
  }
}

.checkout__payment-method-wrapper-inner {
  display: contents;

  @include breakpoint(mobile) {
    background-color: #fff;
    padding: 0 calc(var(--content-padding) + 1.2rem);
    margin-top: auto;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    position: relative;
    border-radius: 1.6rem 1.6rem 0px 0px;
    box-shadow: 0px 0px 1rem 0px rgba(0, 0, 0, 0.1);
    display: block;
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 1.4rem;
      bottom: 100%;
      width: 5.6rem;
      height: 0.6rem;
      background-color: white;
      border-radius: 0.4rem;
    }
  }
}

.checkout__payment-method-heading {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -0.022rem;
  font-family: var(--roboto-flex);
  text-transform: uppercase;
  margin-bottom: 3.2rem;

  @include breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: -0.028rem;
    text-transform: uppercase;
    margin-bottom: 2.4rem;
  }
}

.checkout__payment-method-selection {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include breakpoint(mobile) {
    gap: 2.4rem;
  }
}

.checkout__payment-method-radio {
  user-select: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 1.2rem;
}

.checkout__payment-method-radio-input {
  display: none;
}

.checkout__payment-method-radio-mark {
  flex-shrink: 0;
  display: grid;
  place-items: center;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: border-color 0.2s;

  &::before {
    content: "";
    width: 1rem;
    height: 1rem;
    background-color: var(--primary-color);
    opacity: 0;
    border-radius: 50%;
    transition: opacity 0.2s;
  }

  @include breakpoint(mobile) {
    width: 2rem;
    height: 2rem;

    &::before {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}

.checkout__payment-method-radio-text {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.018rem;

  @include breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.014rem;
  }
}

.checkout__payment-method-radio-input:checked
  ~ .checkout__payment-method-radio-mark {
  border-color: var(--primary-color);
  &::before {
    opacity: 1;
  }
}

.checkout__summary {
  @include breakpointMF(small-tablet) {
    padding: 6rem;
    border-radius: 3.2rem;
    background: white;
  }

  @include breakpoint(mobile) {
    margin: 0 calc(-1 * var(--content-padding));
    padding: 0 calc(var(--content-padding) + 1.2rem);
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    border-radius: 1.6rem 1.6rem 0px 0px;
    background-color: #fff;
  }
}

.checkout__summary-heading {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -0.022rem;
  text-transform: uppercase;
  padding-bottom: 2.4rem;
  margin-bottom: 2.4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-family: var(--roboto-flex);

  @include breakpoint(mobile) {
    display: none;
  }
}

.checkout__summary-list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding-bottom: 2.4rem;
  margin-bottom: 2.4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  @include breakpoint(mobile) {
    display: none;
  }
}

.checkout__summary-card {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
}

.checkout__summary-card-content {
  width: 30%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.checkout__summary-summary-card-price {
  text-align: right;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -0.014rem;
  text-transform: uppercase;
  font-family: var(--roboto-flex);
}

.checkout__summary-card-title {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -0.014rem;
  text-transform: uppercase;
  font-family: var(--roboto-flex);
}

.checkout__summary-card-desc {
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.011rem;
  color: rgba(0, 0, 0, 0.5);
  max-width: 22rem;
}

.checkout__total-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 3.2rem;

  @include breakpoint(mobile) {
    margin-bottom: 2.4rem;
  }
}

.checkout__total-card {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.014rem;

  @include breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.014rem;
  }
}

.checkout__pay {
  display: flex;
  align-items: center;
  gap: 4rem;

  @include breakpoint(mobile) {
    gap: 3.2rem;
  }
}

.checkout__pay-btn {
  display: block;
  text-align: center;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.013rem;
  text-transform: uppercase;
  background-color: var(--primary-color);
  color: white;
  border-radius: 0.8rem;
  padding: 1.9rem;
  flex-grow: 1;
  font-family: var(--roboto-flex);

  &[disabled] {
    cursor: default;
    background-color: #ffd2c3;
  }

  @include breakpoint(mobile) {
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.013rem;
    text-transform: uppercase;
    padding: 2.1rem;
    order: 20;
  }
}

.checkout__pay-price {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -0.018rem;
  text-transform: uppercase;
  text-align: right;
  white-space: nowrap;
  font-family: var(--roboto-flex);

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: -0.016rem;
    text-transform: uppercase;
    text-align: left;
  }
}

.checkout__form-address {
  position: relative;
}

.checkout__form-field--address {
  @include breakpoint(mobile) {
    order: 15;
    padding-top: 3rem;
  }
}

.checkout__form-address-change {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.018rem;
  position: absolute;
  right: 2rem;
  top: 2.4rem;
  color: var(--primary-color);

  @include breakpoint(mobile) {
    display: none;
  }
}

.checkout__form-address-mobile-btn {
  display: none;

  @include breakpoint(mobile) {
    display: flex;
    align-items: center;
    padding: 1.2rem 1.5rem;
    border-radius: 1.2rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 1.2rem;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.014rem;
    justify-content: space-between;
    cursor: pointer;
    text-align: left;
    width: 100%;
    svg {
      flex-shrink: 0;
      width: 2rem;
      height: 2rem;
      fill: rgba(0, 0, 0, 0.5);
    }
  }
}

.checkout__form-address-mobile-heading {
  display: none;

  @include breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: -0.028rem;
    text-transform: uppercase;
    font-family: var(--roboto-flex);
    margin-bottom: 1.8rem;
    display: block;
  }
}

.checkout__form-address-mobile-btn-content {
  width: 30%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.checkout__form-address-mobile-btn-title {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.014rem;
}

.checkout__form-address .checkout__form-label {
  @include breakpoint(mobile) {
    display: none;
  }
}

.checkout__form-address-mobile-btn-schedule {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.012rem;
  color: rgba(0, 0, 0, 0.3);
}

.checkout__form-pickup-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 80;
  background: rgba(70, 70, 70, 0.7);
  overscroll-behavior-y: contain;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0s linear 0.4s;
  padding: var(--content-padding);

  body:not(.loaded) & {
    display: none;
  }

  @include breakpointMF(small-tablet) {
    width: 100svw;
  }

  @include breakpoint(mobile) {
    padding: 0;
  }

  &.active {
    opacity: 1;
    visibility: inherit;
    transition: opacity 0.4s, visibility 0.4s;
  }
}

.checkout__form-pickup-modal-inner {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 102.8rem;
  border-radius: 3.2rem;
  background: #f3f3f3;
  box-shadow: 0px 4rem 12rem 0px rgba(0, 0, 0, 0.25);

  @include breakpoint(mobile) {
    max-width: none;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    flex-grow: 1;
    overflow: visible;
    border-radius: 1.6rem 1.6rem 0px 0px;
  }
}

.checkout__form-pickup-modal-close {
  @include breakpointMF(small-tablet) {
    display: grid;
    place-items: center;
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: 2rem;
    z-index: 3;
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
    background-color: #f3f3f3;
    svg {
      width: 2.4rem;
      height: 2.4rem;
      fill: var(--text-color);
      transition: fill 0.2s;
      &:nth-child(2) {
        display: none;
      }
    }

    @media (hover: hover) {
      &:hover {
        svg {
          fill: var(--primary-color);
        }
      }
    }
  }

  @include breakpoint(mobile) {
    width: 4.8rem;
    height: 4.8rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 10;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 3rem 0px rgba(128, 128, 128, 0.3);

    svg {
      fill: rgba(0, 0, 0, 0.5);
      width: 2rem;
      height: 2rem;
      &:nth-child(1) {
        display: none;
      }
      &:nth-child(2) {
        display: block;
      }
    }
  }
}

.checkout__form-pickup-modal-row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.checkout__form-pickup-modal-text-content {
  padding: 4rem;
  display: flex;
  flex-direction: column;

  @include breakpoint(mobile) {
    order: 10;
    padding: 0 calc(var(--content-padding) + 1.2rem);
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    background-color: #fff;
    border-radius: 1.6rem 1.6rem 0px 0px;
    background: white;
    box-shadow: 0px 0px 1rem 0px rgba(0, 0, 0, 0.1);
    margin-top: -4rem;
    z-index: 15;
  }
}

.checkout__form-pickup-modal-heading {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -0.022rem;
  text-transform: uppercase;
  font-family: var(--roboto-flex);
  margin-bottom: 4rem;

  @include breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: -0.028rem;
    text-transform: uppercase;
    margin-bottom: 2.4rem;
  }
}

.checkout__form-pickup-modal-radios {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;

  @include breakpoint(mobile) {
    gap: 2.4rem;
    margin-bottom: 3.2rem;
  }
}

.checkout__form-pickup-modal-radio {
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
  cursor: pointer;
  user-select: none;

  @include breakpoint(mobile) {
    align-items: center;
  }
}

.checkout__form-pickup-modal-radio-input {
  display: none;
}

.checkout__form-pickup-modal-radio-mark {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: border-color 0.2s;
  margin-top: 0.2rem;

  &::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primary-color);
    opacity: 0;
    transition: opacity 0.2s;
  }

  @include breakpoint(mobile) {
    width: 20px;
    height: 20px;
    &::before {
      width: 12px;
      height: 12px;
    }
  }
}

.checkout__form-pickup-modal-radio-input:checked
  ~ .checkout__form-pickup-modal-radio-mark {
  border-color: var(--primary-color);

  &::before {
    opacity: 1;
  }
}

.checkout__form-pickup-modal-radio-content {
  width: 30%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include breakpoint(mobile) {
    gap: 0.4rem;
  }
}

.checkout__form-pickup-modal-radio-text {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.018rem;

  @include breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.014rem;
  }
}

.checkout__form-pickup-modal-radio-schedule {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.014rem;
  color: rgba(0, 0, 0, 0.3);

  @include breakpoint(mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.012rem;
  }
}

.checkout__form-pickup-modal-confirm {
  margin-top: auto;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.013rem;
  text-transform: uppercase;
  font-family: var(--roboto-flex);
  text-align: center;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  padding: 1.6rem;
  border-radius: 0.8rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint(mobile) {
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.013rem;
    text-transform: uppercase;
    padding: 2.1rem;
  }
}

.checkout__form-pickup-modal-map-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 3.2rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  &::before {
    content: "";
    display: block;
    padding-bottom: 100%;
    @include breakpoint(mobile) {
      padding-bottom: 70%;
    }
  }

  @include breakpoint(mobile) {
    border-radius: 0;
    flex-grow: 1;
  }
}

.checkout__form-pickup-modal-map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
